Want to read in the data for Califronia schools... FIPS is a 6 here

In [4]:
import pandas as pd
import numpy as np
import json      # library for working with JSON-formatted text strings
import requests  # library for accessing content from web URLs
import pprint    # library for cleanly printing Python data structures
pp = pprint.PrettyPrinter()

import seaborn as sns

In [16]:
response = requests.get("https://educationdata.urban.org/api/v1/schools/ccd/directory/2011?page=6")
results = response.text
data = json.loads(results)

col_names = data['results'][0].keys()

#fips 6 : pages 2, 3, 4, 5, 6 

# We wanted to see what different columns they had in the data 
print(col_names)
print(type(col_names))

direct_2011 = pd.DataFrame(data['results'])

direct_2011[['fips']]

direct_2011.isnull().sum()
#direct_2011 = pd.DataFrame(data['results'])
#direct_2011

dict_keys(['year', 'ncessch', 'school_id', 'school_name', 'leaid', 'lea_name', 'state_leaid', 'seasch', 'street_mailing', 'city_mailing', 'state_mailing', 'zip_mailing', 'street_location', 'city_location', 'state_location', 'zip_location', 'phone', 'fips', 'latitude', 'longitude', 'csa', 'cbsa', 'urban_centric_locale', 'county_code', 'school_level', 'school_type', 'school_status', 'lowest_grade_offered', 'highest_grade_offered', 'bureau_indian_education', 'title_i_status', 'title_i_eligible', 'title_i_schoolwide', 'charter', 'magnet', 'shared_time', 'virtual', 'teachers_fte', 'free_lunch', 'reduced_price_lunch', 'free_or_reduced_price_lunch', 'elem_cedp', 'high_cedp', 'middle_cedp', 'ungrade_cedp', 'enrollment', 'state_leg_district_lower', 'state_leg_district_upper', 'ncessch_num', 'congress_district_id', 'direct_certification', 'lunch_program'])
<class 'dict_keys'>

year                              0
ncessch                           0
school_id                         0
school_name                       0
leaid                             0
lea_name                          0
state_leaid                       0
seasch                            0
street_mailing                    0
city_mailing                      0
state_mailing                     0
zip_mailing                       0
street_location                   0
city_location                     0
state_location                    0
zip_location                      0
phone                             0
fips                              0
latitude                          0
longitude                         0
csa                            3000
cbsa                           3000
urban_centric_locale              0
county_code                       0
school_level                      0
school_type                       0
school_status                     0
lowest_grade_offered              0
highest_grade_offered             0
bureau_indian_education           0
title_i_status                    0
title_i_eligible                  0
title_i_schoolwide                0
charter                           0
magnet                            0
shared_time                       0
virtual                        3000
teachers_fte                      0
free_lunch                        0
reduced_price_lunch               0
free_or_reduced_price_lunch       0
elem_cedp                         0
high_cedp                         0
middle_cedp                       0
ungrade_cedp                      0
enrollment                        0
state_leg_district_lower          0
state_leg_district_upper          0
ncessch_num                       0
congress_district_id           3000
direct_certification           3000
lunch_program                  3000
dtype: int64

In [44]:
response = requests.get("https://educationdata.urban.org/api/v1/schools/ccd/directory/2017?page=6")
results = response.text
data = json.loads(results)

col_names = data['results'][0].keys()

#fips 6 : pages 2, 3, 4, 5, 6 

# We wanted to see what different columns they had in the data 
print(col_names)
print(type(col_names))

direct_2011 = pd.DataFrame(data['results'])

direct_2011[['fips']]

#direct_2011.isnull().sum()
#direct_2011 = pd.DataFrame(data['results'])
#direct_2011

dict_keys(['year', 'ncessch', 'school_id', 'school_name', 'leaid', 'lea_name', 'state_leaid', 'seasch', 'street_mailing', 'city_mailing', 'state_mailing', 'zip_mailing', 'street_location', 'city_location', 'state_location', 'zip_location', 'phone', 'fips', 'latitude', 'longitude', 'csa', 'cbsa', 'urban_centric_locale', 'county_code', 'school_level', 'school_type', 'school_status', 'lowest_grade_offered', 'highest_grade_offered', 'bureau_indian_education', 'title_i_status', 'title_i_eligible', 'title_i_schoolwide', 'charter', 'magnet', 'shared_time', 'virtual', 'teachers_fte', 'free_lunch', 'reduced_price_lunch', 'free_or_reduced_price_lunch', 'elem_cedp', 'high_cedp', 'middle_cedp', 'ungrade_cedp', 'enrollment', 'state_leg_district_lower', 'state_leg_district_upper', 'ncessch_num', 'congress_district_id', 'direct_certification', 'lunch_program'])
<class 'dict_keys'>

      fips
0        6
1        6
2        6
3        6
4        6
...    ...
2995     9
2996     9
2997     9
2998     9
2999     9

[3000 rows x 1 columns]

In [45]:
#doing a four loop for pages 2, 3, 4, 5, 6

#this is just 2011

direct11_all = pd.DataFrame() 

for i in range(2, 7): 
    
    api = "https://educationdata.urban.org/api/v1/schools/ccd/directory/2011?page=" + str(i)
    
    response = requests.get(api)
    results = response.text 
    data = json.loads(results)
    direct_2011 = pd.DataFrame(data['results'])

    
    # Drop unnecessary columns
    direct_2011 = direct_2011.drop(labels=['congress_district_id', 
                                   'direct_certification', 'lunch_program', 
                                   'virtual', 'csa', 'cbsa', 'state_leg_district_lower',
                                          'state_leg_district_upper'], axis=1)


    
    # Put all of our page data frames on top of each other 
    direct11_all = pd.concat([direct11_all, direct_2011]).reset_index(drop=True)
    
    
direct11_all

,year,ncessch,school_id,school_name,leaid,lea_name,state_leaid,seasch,street_mailing,city_mailing,...,teachers_fte,free_lunch,reduced_price_lunch,free_or_reduced_price_lunch,elem_cedp,high_cedp,middle_cedp,ungrade_cedp,enrollment,ncessch_num
0,2011,040079403217,03217,WAVE- LEE WILLIAMS HIGH SCHOOL,0400794,WESTERN ARIZONA VOCATIONAL DISTRICT #50,90123,90686,400 GRANDVIEW AVENUE,KINGMAN,...,-2,-2,-2,-2,0,1,0,0,-2,40079403217
1,2011,040079503041,03041,NEW DESTINY LEADERSHIP CHARTER SCHOOL,0400795,NEW DESTINY LEADERSHIP CHARTER SCHOOL,90166,90167,1923 EAST BROADWAY ROAD,PHOENIX,...,-1,20,1,21,1,0,0,0,24,40079503041
2,2011,040079602645,02645,LEARNING FOUNDATION AND PERFORMING ARTS ALTA MESA,0400796,CAFA INC. DBA LEARNING FOUNDATION AND PERFORM...,90328,88290,1120 S. GILBERT RD.,GILBERT,...,-1,-3,-3,-3,1,1,1,0,192,40079602645
3,2011,040079702994,02994,ACADEMY DEL SOL,0400797,ACADEMY DEL SOL INC.,90199,90200,8379 W. AVECENNA ST.,TUCSON,...,-1,-1,-1,-1,1,0,1,0,36,40079702994
4,2011,040079703230,03230,ACADEMY DEL SOL - HOPE,0400797,ACADEMY DEL SOL INC.,90199,90770,4525 E. BROADWAY BLVD.,TUCSON,...,-1,-1,-1,-1,1,0,1,0,41,40079703230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,2011,090012000013,00013,ROARING BROOK SCHOOL,0900120,AVON SCHOOL DISTRICT,004,03,30 OLD WHEELER LANE,AVON,...,37,23,6,29,1,0,0,0,591,90012000013
14996,2011,090012001367,01367,THOMPSON BROOK SCHOOL,0900120,AVON SCHOOL DISTRICT,004,05,150 THOMPSON ROAD,AVON,...,41,22,12,34,1,0,0,0,595,90012001367
14997,2011,090015000015,00015,BARKHAMSTED ELEMENTARY SCHOOL,0900150,BARKHAMSTED SCHOOL DISTRICT,005,01,65 RIPLEY HILL ROAD,BARKHAMSTED,...,23,13,5,18,1,0,0,0,338,90015000015
14998,2011,090015001373,01373,SHARED SERVICES INTEGRATED PRESCHOOL,0900150,BARKHAMSTED SCHOOL DISTRICT,005,80,65 RIPLEY HILL ROAD,BARKHAMSTED,...,1,0,0,0,1,0,0,0,19,90015001373
14999,2011,090020700907,00907,HIGHVILLE CHARTER SCHOOL,0900207,HIGHVILLE MUSTARD SEED CHARTE,286,01,130 LEEDERHILL DRIVE,HAMDEN,...,20,135,39,174,1,0,1,0,337,90020700907

In [46]:
#direct11_all[['fips']]
direct11_all = direct11_all[direct11_all['fips'] == 6]

direct11_all

,year,ncessch,school_id,school_name,leaid,lea_name,state_leaid,seasch,street_mailing,city_mailing,...,teachers_fte,free_lunch,reduced_price_lunch,free_or_reduced_price_lunch,elem_cedp,high_cedp,middle_cedp,ungrade_cedp,enrollment,ncessch_num
2724,2011,060000103278,03278,VASQUEZ HIGH,0600001,ACTON-AGUA DULCE UNIFIED,1975309,1995786,33630 RED ROVER MINE RD.,ACTON,...,22,-3,-3,-3,0,1,0,0,513,60000103278
2725,2011,060000106294,06294,AGUA DULCE ELEMENTARY,0600001,ACTON-AGUA DULCE UNIFIED,1975309,6022743,11311 WEST FRASCATI ST.,AGUA DULCE,...,8,-3,-3,-3,1,0,0,0,203,60000106294
2726,2011,060000107534,07534,MEADOWLARK ELEMENTARY,0600001,ACTON-AGUA DULCE UNIFIED,1975309,6115679,3015 WEST SACRAMENTO ST.,ACTON,...,14,-3,-3,-3,1,0,0,0,391,60000107534
2727,2011,060000109444,09444,HIGH DESERT,0600001,ACTON-AGUA DULCE UNIFIED,1975309,6107494,3620 ANTELOPE WOODS RD.,ACTON,...,16,-3,-3,-3,0,0,1,0,399,60000109444
2728,2011,060000210346,10346,CALIFORNIA SCHOOL FOR THE BLIND,0600002,CALIFORNIA SCHOOL FOR THE BLIND (STATE SPECIAL...,0131609,0131755,500 WALNUT AVE.,FREMONT,...,-1,-1,-1,-1,1,1,1,0,71,60000210346
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13070,2011,069113707914,07914,MOCCASIN COMMUNITY DAY,0691137,BIG OAK FLAT-GROVELAND UNIFIED,5575184,5530159,PO BOX 1397,GROVELAND,...,1,-1,-1,5,0,1,1,0,15,69113707914
13071,2011,069113710339,10339,TIOGA HIGH,0691137,BIG OAK FLAT-GROVELAND UNIFIED,5575184,5530076,19304 FERRETTI RD.,GROVELAND,...,7,-3,-3,-3,0,1,0,0,77,69113710339
13072,2011,069113710340,10340,DON PEDRO HIGH,0691137,BIG OAK FLAT-GROVELAND UNIFIED,5575184,5530084,3090 MERCED FALLS RD.,LA GRANGE,...,3,19,-1,19,0,1,0,0,22,69113710340
13073,2011,069113710341,10341,TENAYA ELEMENTARY,0691137,BIG OAK FLAT-GROVELAND UNIFIED,5575184,6054837,PO BOX 1397,GROVELAND,...,14,253,-1,253,1,0,1,0,256,69113710341
13074,2011,069113711828,11828,DON PEDRO COMMUNITY DAY,0691137,BIG OAK FLAT-GROVELAND UNIFIED,5575184,0112532,3090 MERCED FALLS RD.,LA GRANGE,...,-1,-1,-1,-1,0,1,1,0,-1,69113711828

In [47]:
## 2013

for i in range(2, 7): 
    
    api = "https://educationdata.urban.org/api/v1/schools/ccd/directory/2013?page=" + str(i)
    
    response = requests.get(api)
    results = response.text 
    data = json.loads(results)
    direct_2013 = pd.DataFrame(data['results'])

    
    # Drop unnecessary columns
    direct_2013 = direct_2013.drop(labels=['congress_district_id', 
                                   'direct_certification', 'lunch_program', 
                                   'virtual', 'csa', 'cbsa', 'state_leg_district_lower',
                                          'state_leg_district_upper'], axis=1)


    
    # Put all of our page data frames on top of each other 
    direct11_all = pd.concat([direct11_all, direct_2013]).reset_index(drop=True)
    
    
direct11_all 


#2015

for i in range(2, 7): 
    
    api = "https://educationdata.urban.org/api/v1/schools/ccd/directory/2015?page=" + str(i)
    
    response = requests.get(api)
    results = response.text 
    data = json.loads(results)
    direct_2013 = pd.DataFrame(data['results'])

    
    # Drop unnecessary columns
    direct_2013 = direct_2013.drop(labels=['congress_district_id', 
                                   'direct_certification', 'lunch_program', 
                                   'virtual', 'csa', 'cbsa', 'state_leg_district_lower',
                                          'state_leg_district_upper'], axis=1)


    
    # Put all of our page data frames on top of each other 
    direct11_all = pd.concat([direct11_all, direct_2013]).reset_index(drop=True)
    
    
direct11_all 


#2017
for i in range(2, 7): 
    
    api = "https://educationdata.urban.org/api/v1/schools/ccd/directory/2017?page=" + str(i)
    
    response = requests.get(api)
    results = response.text 
    data = json.loads(results)
    direct_2013 = pd.DataFrame(data['results'])

    
    # Drop unnecessary columns
    direct_2013 = direct_2013.drop(labels=['congress_district_id', 
                                   'direct_certification', 'lunch_program', 
                                   'virtual', 'csa', 'cbsa', 'state_leg_district_lower',
                                          'state_leg_district_upper'], axis=1)


    
    # Put all of our page data frames on top of each other 
    direct11_all = pd.concat([direct11_all, direct_2013]).reset_index(drop=True)
    
    
direct11_all

,year,ncessch,school_id,school_name,leaid,lea_name,state_leaid,seasch,street_mailing,city_mailing,...,teachers_fte,free_lunch,reduced_price_lunch,free_or_reduced_price_lunch,elem_cedp,high_cedp,middle_cedp,ungrade_cedp,enrollment,ncessch_num
0,2011,060000103278,03278,VASQUEZ HIGH,0600001,ACTON-AGUA DULCE UNIFIED,1975309,1995786,33630 RED ROVER MINE RD.,ACTON,...,22.0,-3.0,-3.0,-3.0,0,1,0,0,513.0,60000103278
1,2011,060000106294,06294,AGUA DULCE ELEMENTARY,0600001,ACTON-AGUA DULCE UNIFIED,1975309,6022743,11311 WEST FRASCATI ST.,AGUA DULCE,...,8.0,-3.0,-3.0,-3.0,1,0,0,0,203.0,60000106294
2,2011,060000107534,07534,MEADOWLARK ELEMENTARY,0600001,ACTON-AGUA DULCE UNIFIED,1975309,6115679,3015 WEST SACRAMENTO ST.,ACTON,...,14.0,-3.0,-3.0,-3.0,1,0,0,0,391.0,60000107534
3,2011,060000109444,09444,HIGH DESERT,0600001,ACTON-AGUA DULCE UNIFIED,1975309,6107494,3620 ANTELOPE WOODS RD.,ACTON,...,16.0,-3.0,-3.0,-3.0,0,0,1,0,399.0,60000109444
4,2011,060000210346,10346,CALIFORNIA SCHOOL FOR THE BLIND,0600002,CALIFORNIA SCHOOL FOR THE BLIND (STATE SPECIAL...,0131609,0131755,500 WALNUT AVE.,FREMONT,...,-1.0,-1.0,-1.0,-1.0,1,1,1,0,71.0,60000210346
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55346,2017,090027000023,00023,Anna H. Rockwell School,0900270,BETHEL SCHOOL DISTRICT,CT-009,009-04,400 Whittlesey Dr.,Bethel,...,32.0,70.0,27.0,97.0,1,0,0,0,435.0,90027000023
55347,2017,090027000024,00024,Bethel High School,0900270,BETHEL SCHOOL DISTRICT,CT-009,009-61,300 Whittlesey Dr.,Bethel,...,86.0,123.0,59.0,182.0,0,1,0,0,896.0,90027000024
55348,2017,090027000025,00025,Bethel Middle School,0900270,BETHEL SCHOOL DISTRICT,CT-009,009-51,600 Whittlesey Dr.,Bethel,...,54.0,96.0,39.0,135.0,0,0,1,0,659.0,90027000025
55349,2017,090027000027,00027,Frank A. Berry School,0900270,BETHEL SCHOOL DISTRICT,CT-009,009-01,200 Whittlesey Dr.,Bethel,...,37.0,65.0,21.0,86.0,1,0,0,0,522.0,90027000027
55350,2017,090027001118,01118,Ralph M. T. Johnson School,0900270,BETHEL SCHOOL DISTRICT,CT-009,009-05,500 Whittlesey Dr.,Bethel,...,34.0,77.0,32.0,109.0,1,0,0,0,516.0,90027001118

In [48]:
direct11_all = direct11_all[direct11_all['fips'] == 6]

direct11_all

,year,ncessch,school_id,school_name,leaid,lea_name,state_leaid,seasch,street_mailing,city_mailing,...,teachers_fte,free_lunch,reduced_price_lunch,free_or_reduced_price_lunch,elem_cedp,high_cedp,middle_cedp,ungrade_cedp,enrollment,ncessch_num
0,2011,060000103278,03278,VASQUEZ HIGH,0600001,ACTON-AGUA DULCE UNIFIED,1975309,1995786,33630 RED ROVER MINE RD.,ACTON,...,22.0,-3.0,-3.0,-3.0,0,1,0,0,513.0,60000103278
1,2011,060000106294,06294,AGUA DULCE ELEMENTARY,0600001,ACTON-AGUA DULCE UNIFIED,1975309,6022743,11311 WEST FRASCATI ST.,AGUA DULCE,...,8.0,-3.0,-3.0,-3.0,1,0,0,0,203.0,60000106294
2,2011,060000107534,07534,MEADOWLARK ELEMENTARY,0600001,ACTON-AGUA DULCE UNIFIED,1975309,6115679,3015 WEST SACRAMENTO ST.,ACTON,...,14.0,-3.0,-3.0,-3.0,1,0,0,0,391.0,60000107534
3,2011,060000109444,09444,HIGH DESERT,0600001,ACTON-AGUA DULCE UNIFIED,1975309,6107494,3620 ANTELOPE WOODS RD.,ACTON,...,16.0,-3.0,-3.0,-3.0,0,0,1,0,399.0,60000109444
4,2011,060000210346,10346,CALIFORNIA SCHOOL FOR THE BLIND,0600002,CALIFORNIA SCHOOL FOR THE BLIND (STATE SPECIAL...,0131609,0131755,500 WALNUT AVE.,FREMONT,...,-1.0,-1.0,-1.0,-1.0,1,1,1,0,71.0,60000210346
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53335,2017,069113610298,10298,Aromas,0691136,Aromas/San Juan Unified,CA-3575259,3575259-6049654,PO Box 216,Aromas,...,17.0,210.0,37.0,247.0,1,0,1,0,409.0,69113610298
53336,2017,069113707914,07914,Moccasin Community Day,0691137,Big Oak Flat-Groveland Unified,CA-5575184,5575184-5530159,19177 Hwy 120,Groveland,...,1.0,NaN,NaN,NaN,0,1,1,0,4.0,69113707914
53337,2017,069113710339,10339,Tioga High,0691137,Big Oak Flat-Groveland Unified,CA-5575184,5575184-5530076,19304 Ferretti Rd.,Groveland,...,3.0,26.0,4.0,30.0,0,1,0,0,45.0,69113710339
53338,2017,069113710340,10340,Don Pedro High,0691137,Big Oak Flat-Groveland Unified,CA-5575184,5575184-5530084,3090 Merced Falls Rd.,La Grange,...,5.0,21.0,1.0,22.0,0,1,0,0,41.0,69113710340
53339,2017,069113710341,10341,Tenaya Elementary,0691137,Big Oak Flat-Groveland Unified,CA-5575184,5575184-6054837,19177 Highway 120,Groveland,...,12.0,95.0,10.0,105.0,1,0,1,0,197.0,69113710341

In [49]:
direct11_all.to_csv('directory_all.csv', index=False)