Want to read in the data for Califronia schools... FIPS is a 6 here

In [2]:
import pandas as pd
import numpy as np
import json      # library for working with JSON-formatted text strings
import requests  # library for accessing content from web URLs
import pprint    # library for cleanly printing Python data structures
pp = pprint.PrettyPrinter()

import seaborn as sns

In [10]:
response = requests.get("https://educationdata.urban.org/api/v1/schools/crdc/harassment-or-bullying/2017/race/sex?fips=6&page=1")
results = response.text
data = json.loads(results)

col_names = data['results'][0].keys()
count = data['count']
print(count)

#fips 6 : pages 2, 3, 4, 5, 6 

# We wanted to see what different columns they had in the data 
print(col_names)
print(type(col_names))

direct_2011 = pd.DataFrame(data['results'])

direct_2011[['fips']]

#direct_2011.isnull().sum()
#direct_2011 = pd.DataFrame(data['results'])
direct_2011

242904
dict_keys(['crdc_id', 'year', 'fips', 'ncessch', 'leaid', 'race', 'sex', 'disability', 'lep', 'students_disc_harass_dis', 'students_disc_harass_race', 'students_disc_harass_sex', 'students_report_harass_dis', 'students_report_harass_race', 'students_report_harass_sex'])
<class 'dict_keys'>

,crdc_id,year,fips,ncessch,leaid,race,sex,disability,lep,students_disc_harass_dis,students_disc_harass_race,students_disc_harass_sex,students_report_harass_dis,students_report_harass_race,students_report_harass_sex
0,060000103278,2017,6,060000103278,0600001,1,1,99,99,0,0,0,0,0,0
1,060000103278,2017,6,060000103278,0600001,2,1,99,99,0,0,0,0,0,0
2,060000103278,2017,6,060000103278,0600001,3,1,99,99,0,0,0,0,0,0
3,060000103278,2017,6,060000103278,0600001,4,1,99,99,0,0,0,0,0,0
4,060000103278,2017,6,060000103278,0600001,5,1,99,99,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,060002009682,2017,6,060002009682,0600020,4,99,99,99,0,0,0,0,0,0
2996,060002009682,2017,6,060002009682,0600020,5,99,99,99,0,0,1,0,0,0
2997,060002009682,2017,6,060002009682,0600020,6,99,99,99,0,0,0,0,0,0
2998,060002009682,2017,6,060002009682,0600020,7,99,99,99,0,0,0,0,0,0
2999,060002009682,2017,6,060002009682,0600020,99,99,99,99,0,0,5,0,0,1

In [11]:
count = 242904 #3000*10
print(count)
if (count % 3000 == 0): 
    max_page = int(count / 3000) 
else: 
    max_page = int(count / 3000) + 1 
max_page

242904

81

In [5]:
print(direct_2011.dtypes)
#direct11_all[direct11_all[['year', 'fips', 'race', 'sex', 'enrollment_crdc']] < 0] = np.nan
#direct11_all.isnull().sum()

crdc_id                        object
year                            int64
fips                            int64
ncessch                        object
leaid                          object
race                            int64
sex                             int64
disability                      int64
lep                             int64
students_disc_harass_dis        int64
students_disc_harass_race       int64
students_disc_harass_sex        int64
students_report_harass_dis      int64
students_report_harass_race     int64
students_report_harass_sex      int64
dtype: object

In [12]:
#doing a four loop for pages 2, 3, 4, 5, 6

#this is just 2011

direct11_all = pd.DataFrame() 

for i in range(1, 80): 
    
    api = "https://educationdata.urban.org/api/v1/schools/crdc/harassment-or-bullying/2011/race/sex?fips=6&page=" + str(i)
    
    response = requests.get(api)
    results = response.text 
    data = json.loads(results)
    direct_2011 = pd.DataFrame(data['results'])

    
    # Drop unnecessary columns
    direct_2011 = direct_2011.drop(labels=['disability', 'lep', 'fips'], axis=1)


    
    # Put all of our page data frames on top of each other 
    direct11_all = pd.concat([direct11_all, direct_2011]).reset_index(drop=True)
    
direct11_all[direct11_all[['students_disc_harass_dis', 'students_disc_harass_race', 
                           'students_disc_harass_sex', 'students_report_harass_dis',
                           'students_report_harass_race', 'students_report_harass_sex']] < 0] = np.nan 

direct11_all

direct11_all.to_csv('harassment_2011.csv', index=False)

In [13]:
## 2013

direct11_all = pd.DataFrame() 

for i in range(1, 81): 
    
    api = "https://educationdata.urban.org/api/v1/schools/crdc/harassment-or-bullying/2013/race/sex?fips=6&page=" + str(i)
    
    response = requests.get(api)
    results = response.text 
    data = json.loads(results)
    direct_2011 = pd.DataFrame(data['results'])

    
    # Drop unnecessary columns
    direct_2011 = direct_2011.drop(labels=['disability', 'lep', 'fips'], axis=1)


    
    # Put all of our page data frames on top of each other 
    direct11_all = pd.concat([direct11_all, direct_2011]).reset_index(drop=True)
    
direct11_all[direct11_all[['students_disc_harass_dis', 'students_disc_harass_race', 
                           'students_disc_harass_sex', 'students_report_harass_dis',
                           'students_report_harass_race', 'students_report_harass_sex']] < 0] = np.nan 

direct11_all

direct11_all.to_csv('harassment_2013.csv', index=False)

In [14]:
#2015

direct11_all = pd.DataFrame() 

for i in range(1, 83): 
    
    api = "https://educationdata.urban.org/api/v1/schools/crdc/harassment-or-bullying/2015/race/sex?fips=6&page=" + str(i)
    
    response = requests.get(api)
    results = response.text 
    data = json.loads(results)
    direct_2011 = pd.DataFrame(data['results'])

    
    # Drop unnecessary columns
    direct_2011 = direct_2011.drop(labels=['disability', 'lep', 'fips'], axis=1)


    
    # Put all of our page data frames on top of each other 
    direct11_all = pd.concat([direct11_all, direct_2011]).reset_index(drop=True)
    
direct11_all[direct11_all[['students_disc_harass_dis', 'students_disc_harass_race', 
                           'students_disc_harass_sex', 'students_report_harass_dis',
                           'students_report_harass_race', 'students_report_harass_sex']] < 0] = np.nan 

direct11_all

direct11_all.to_csv('harassment_2015.csv', index=False)

In [15]:

#2017
direct11_all = pd.DataFrame() 

for i in range(1, 82): 
    
    api = "https://educationdata.urban.org/api/v1/schools/crdc/harassment-or-bullying/2017/race/sex?fips=6&page=" + str(i)
    
    response = requests.get(api)
    results = response.text 
    data = json.loads(results)
    direct_2011 = pd.DataFrame(data['results'])

    
    # Drop unnecessary columns
    direct_2011 = direct_2011.drop(labels=['disability', 'lep', 'fips'], axis=1)


    
    # Put all of our page data frames on top of each other 
    direct11_all = pd.concat([direct11_all, direct_2011]).reset_index(drop=True)
    
direct11_all[direct11_all[['students_disc_harass_dis', 'students_disc_harass_race', 
                           'students_disc_harass_sex', 'students_report_harass_dis',
                           'students_report_harass_race', 'students_report_harass_sex']] < 0] = np.nan 

direct11_all

direct11_all.to_csv('harassment_2017.csv', index=False)